{{!-- {{#link-to 'artist.event.concert' (query-params getId=event artist=artist artistId=artistId)}}
  <button type="submit" class="btn btn-success search-button">
  Details
  </button>
{{/link-to}} --}}

{{!-- {{#link-to 'artist.event.concert' (query-params concertId=event)}} --}}
{{#link-to 'artist.event.concert' concert}}
  <button type="submit" class="btn btn-success search-button">
  Details
  </button>
{{/link-to}}

{{!-- {{#link-to 'artist.event.concert'}}
<button type="submit" class="btn btn-success search-button">
Details
</button>
{{/link-to}} --}}
