<h4>Filter by date</h4>
<label for="min_filter">From</label>
{{input type="text" name="min_datefilter" class='min_date_filter' id='min_filter' value=minFromParams}}
<i class="glyphicon glyphicon-calendar fa fa-calendar min-date-cal"></i>
<label for="max_filter">To</label>
{{input type="text" name="max_datefilter" class='max_date_filter' id='max_filter' value=maxFromParams}}
<i class="glyphicon glyphicon-calendar fa fa-calendar max-date-cal"></i>
<button type="button" name="button" class='date_filter_button' {{action 'filterDate'}}>Filter</button>
<button type="button" name="button" class='cancel-filter-button' {{action 'filterDate'}}>Cancel</button>
