<ui class='row-fluid artist-grid block-grid-3'>
  {{#each event.performance as |performance|}}
  {{!-- <div class='clearfix visible-sm'></div> --}}
    <li>{{performance.artist.displayName}}</li>
  {{/each}}
</ui>
