  {{search-input-main keyword=entered}}
  <div class=search-button-wrapper>

    <button type="submit" class="btn search-button-page in-form" {{action 'search' entered}}>
      <span class='glyphicon glyphicon-search'></span>
    </button>

    {{#if buttonVisible}}
    <button type="button" class="btn search-button-reset in-form" {{action 'reset'}}>
      <span class='glyphicon glyphicon-remove'></span>
    </button>
    {{/if}}

  </div>

    <h5>{{formDesc}}</h5>
