<h1>Search Menu</h1>
<ul>
  {{#link-to 'artist.search'}}
  <li>Artists</li>
  {{/link-to}}
  {{#link-to 'region.search'}}
  <li>Regions</li>
  {{/link-to}}
  {{!-- {{#link-to 'concert.search'}} --}}
  <li>Upcoming Events</li>
  {{!-- {{/link-to}} --}}
  {{!-- {{#link-to 'venue.search'}} --}}
  <li>Venues</li>
  {{!-- {{/link-to}} --}}

</ul>
