<ul>
  <li>
    {{#link-to 'artist.search'}}
    {{svg-jar "singer" width='23.5px' height='23.5px'}}
    {{svg-jar "guitar-player" width='23.5px' height='23.5px'}}
    <h4>Artists</h4>
    {{/link-to}}
  </li>

  <li>
    {{#link-to 'region.search'}}
    {{svg-jar "earth-music" width='23.5px' height='23.5px'}}
    <h4>Regions</h4>
    {{/link-to}}
  </li>

  <li>
    {{#link-to 'venue.search'}}
    {{svg-jar "music-tent" width='56.5px' height="23.51px" viewBox="0 59 277.982 158.1"}}
    <h4>Venues</h4>
    {{/link-to}}
  </li>

</ul>
