<div class='region-search-detail'>
    {{#if artist.noMatch}}
        <h5>No Results Found. {{#link-to 'artist.search'}}Search by Artist{{/link-to}}</h5>
    {{else}}
    <a href='javascript:;'{{action 'goToArtist' artist.displayName artist.id}}>
      <h5 class='artist-name'><strong>{{artist.displayName}}</strong></h5></a>
    {{/if}}

    {{#if artist.onTourUntil}}
      <h5 class='on-tour'>ON TOUR</h5>
    {{/if}}
</div>
