<h1>Menu</h1>
<ul>

  <li>
    {{#link-to 'artist.search'}}
    {{svg-jar "singer" width='33.5px' height='33.5px'}}
    {{svg-jar "guitar-player" width='33.5px' height='33.5px'}}
    <h4>Artists</h4>
    {{/link-to}}
  </li>

  <li>
    {{#link-to 'region.search'}}
    {{svg-jar "earth-music" width='33.5px' height='33.5px'}}
    <h4>Regions</h4>
    {{/link-to}}
  </li>

  <li>
    {{#link-to 'venue.search'}}
    {{svg-jar "music-tent" width='66.5px' height="33.51px" viewBox="0 59 277.982 158.1"}}
    <h4>Venues</h4>
    {{/link-to}}
  </li>

</ul>
