@import 'bootstrap';
@import 'region';
@import 'artist';
@import 'tickets';
@import 'venue';

@import url('https://fonts.googleapis.com/css?family=Audiowide');

$yellow-hilgt: #f3a712;
$dark: #040212;
$red: #C70A24;
$wht: white;
$navbar_items: black;
$brown: #534d41;

.user-stuff {
  clear: both;
}


.navigation-search-form .navigation-search {
    border-radius: 4px;
    -webkit-appearance: none;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    font-size: 13px;
    font-weight: 400;
    width: 250px;
    padding: 5px;
    background-color: #fff;
    border: none;
}

.navigation-search-form .search-button {
    background-color: transparent;
    width: auto;
    min-width: 0;
    display: inline-block;
    border: none;
    padding: 0;
    box-sizing: border-box;
    vertical-align: middle;
    -moz-appearance: none;
    margin-left: -19px;
    border-radius: 0;
    line-height: 32px;
}



.icon-radio-unchecked::before {
  content: "\ea56";
}

.container {
  padding: 0;
  margin: 0;
  width: 100%;
}

////////*NAVBAR STYLING*////////
.navbar {
  background-color: $dark;
  // border-top: 6px solid #f80046;
  border-top: 6px solid $red;

  border-bottom: 0;

  .navbar-header.title {
    margin-left: 11%;
  }

  .navbar-nav.navbar-right {
    // margin-right: 11%;
    margin-right: 10px;
  }

  .account.navbar-right {
    margin-right: 3%;
    // margin-top: 12px;
    width: 120px;
    height: 70px;

    li {
      // height: 100%;
      width: 50%;
      text-align: center;
    }

    .dropdown {
      width: 100%;
      height: 100%;
    }

    a {
      margin-top: 27px;
      // line-height: 70px;
    }
  }

  .navbar-text.region {
    font-size: 18px;
    font-weight: bold;
  }

  .navbar-text.change {
    margin-right: 0;
    margin-left: 40px;
  }

  form.navbar-form {
    padding: 0;
    -webkit-box-shadow: none;
    border: none;
  }

    h4, h5 {
      color: white;
    }
}

ul.nav.geo {
  margin-top: 8px;

  li {
    position: relative;
  }
}

.nav.navbar-nav.search {
  margin-top: 12px;
  // float: right;

  .search-select {
    margin-left: 20px;
    margin-right: 25px;
  }
}

.navbar-header.navbar-left.pull-left.location {
  margin: 0 auto;
}

.navbar-header {
  button {
  margin-top: 18px;
  margin-right: 25px;
  }
}

div.svg-wrapper.map {
  position: absolute;
  bottom: 0;
  left: -20px;
  width: 22px;
  height: 22px;
  display: inline-block;
}

.upcoming-region-events-header {
  .change-location-wrapper {
    display: inline-block;
  }

  div.svg-wrapper.map {
    position: relative;
    bottom: -5px;
    left: 1px;
    width: 22px;
    height: 22px;
    display: inline-block;
  }
}

  .nav > li > a {
    padding: 0;
    color: white;
    cursor: auto;
  }

.change-location-wrapper {

  a {
    text-decoration: none;
    padding: 0;
    color: $wht;
    cursor: auto;

    svg {
      fill: white;
    }
  }

  a:hover {
    background-color: transparent;
    color: #F80046;
  }

  a:focus {
    background-color: transparent;
  }

  a:hover svg {
    fill: #F80046;
  }
}

  .nav > li > a:hover {
    background-color: transparent;
    color: #F80046;
  }

  .nav > li > a:focus {
    background-color: transparent;
  }

.navbar-brand.show-hock {
  font-size: 32px;
  line-height: 35px;
  height: 70px;
  color: $wht;
}

.navbar-brand.show-hock:hover {
  color: $red;
}

.header-title.show-hock {
  h1 {
    font-family: 'Audiowide';
  }
}

.show-hock {
  font-family: 'Audiowide';
}

.my-shows {
  margin-top: 8px;

  li {
    width: 110px;
  }

  .user-shows {
    font-size: 16px;
    line-height: 28px;

    div {
      display: inline;
      text-align: center;
      margin-right: 0;
      content: '';
      width: 28px;
      height: 28px;
      float: right;
      border-radius: 50%;
      background-color: $red;
      font-size: 18px;
    }
  }
}



///////END NAVBAR STYLING////////



///////////SIGN-IN-SIGN-UP//////////
.form-horizontal .form-group {
  margin: 0;
}

.authentication-buttons {
  display: inline-block;
  float: left;
  margin-top: 10px;
}

.change-password-wrapper {
  display: inline-block;
  margin-top: 8px;
  margin-left: 5px;
  float: left;
}

.region-info-section.sign-up {

  .artist-concert.festival {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;

    & .concert-image-wrapper {
      margin: 0 auto;
      float: none;
      width: 150px;
    }
  }
 }

.alert {
  padding: 16px;
}



/////////END SIGN-IN SIGN-UP/////////////
.search-button.in-form {
  background-color: transparent;
  margin-left: -25px;
  width: auto;
  padding: 0;
}

.search-input.form-group {
  .form-control {
    width: 250px;
  }
}

.search-results > .region-search-detail {
  margin-bottom: 5px;
  padding-bottom: 5px;
  min-height: 40px;

  h5 {
    margin: 0;
  }

  p {
    margin-bottom: 0;
  }

  .artist-name {
    float: left;
    max-width: calc(100% - 63.55px);
  }

  .on-tour {
    float: right;
  }

  .venue-list {
    display: inline;
  }
}

.search-page-results {
  width: 33.3333333333%;
  float: left;
  padding: 0 15px 15px 15px;

  .results-header {
    margin-bottom: 15px;

    h3, h4 {
      display: inline;
    }

    a {
      text-decoration: none;

      .see-more {
        box-shadow: 1px 1px 1px rgba(0,0,0,.15);
        // background-color: red;
      // -webkit-box-shadow: 5px 3px 32px 6px rgba(0,0,0,1) inset;
      // -moz-box-shadow: 5px 3px 32px 6px rgba(0,0,0,1) inset;
      // box-shadow: 0px 0px 15px 5px rgba(0,0,0,1) inset;
      }

      .see-more:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }

    .see-more {
      float: right;
      margin: 0;
      line-height: 21px;
    }
  }

  .link-to-search {
    float: right;
  }
}

.search-options-menu-wrapper {
  float: left;
  text-align: center;

  h1 {
    margin-top: 0;
  }
  h4 {
    margin-top: 0;
  }
  ul {
    padding: 0;
  }
  li {
    list-style: none;
  }
}

.type-label {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 7px;
  // box-shadow: 1px 1px 1px rgba(0,0,0,.5);
  h5 {
    margin: 0;
  }
}


.landing-info-section.event-info {
  width: 100%;
  height: 575px;
  padding: 0;
  margin: 0;
  position: relative;
  overflow: visible;
}

.landing-info-wrapper.index {
  height: 100%;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 15px;

  a {
    color: inherit;
  }

  a:hover {
    text-decoration: none;
  }
}

.upcoming-region-events {
  background-color: rgba(0, 0, 0, 0.7);
  position: relative;
  color: white;
  width: 472px;
  height: 525px;
  float: left;
  margin-top: -550px;

  h3 {
    font-size: 20px;
    margin: 0;
  }

  h4 {
    font-size: 16px;
    margin-bottom: 0;
  }

  a:hover {
    text-decoration: none;
  }

  .button-to-concert-wrapper {
    float: none;
    margin: 0 auto;
    text-align: center;
  }
}

.upcoming-region-events-header {
  text-align: center;
  padding: 15px;
  background-color: white;
  color: black;
}

.upcoming-region-events-list-wrapper {
  margin-top: 20px;
  padding: 10px;
  list-style: none;
}

.event-carousel-outer {
  height: 100%;
  width: 100%;
  float: left;
}

.events-carousel {
  float: right;
  margin-top: -550px;
  position: relative;
  height: 525px;

  img.headliner {
    height: 472px;
    width: 472px;
  }

  .carousel-inner-title {
    // background-color: #5C6BA8;
    background-color: white;
    text-align: center;
    padding: 15px;
  }

  h3 {
    font-size: 20px;
    margin: 0;
  }
}


#carousel-inner-generic {
  display: inline-block;
}

#carousel-outer-generic {
  width: 100%;
  overflow: hidden;
  height: 1;
  height: 100%;
}

.carousel-inner {
  height: 100%;
}

.carousel-outer-inside-shadow {
  height: 100%;
}

.carousel-indicators {
  bottom: -10px;
}

.carousel-caption.event-outer {
  left: 5%;
  top: 0;
  width: 50%;
}

.carousel-caption {
  padding-top: 0;
}

.carousel-caption.inner {
  top: 358px;
  left: 0px;
  text-align: left;
  width: 100%;
  padding-bottom: 114px;
  background-color: rgba(0, 0, 0, 0.7);

  p.caption {
    font-size: 20px;
    margin-bottom: 0;
  }
}

.carousel-fade {
  .carousel-inner {
    .item {
      transition-property: opacity;
    }

    .item,
    .active.left,
    .active.right {
      opacity: 0;
    }

    .active,
    .next.left,
    .prev.right {
      opacity: 1;
    }

    .next,
    .prev,
    .active.left,
    .active.right {
      left: 0;
      transform: translate3d(0, 0, 0);
    }
  }
}

.landing-page-search-menu > div {
  text-align: center;
  width: 33.333333333%;
  float: left;
}

.landing-page-search-menu {
  max-width: 1080px;
  margin: 0 auto;
  overflow: hidden;
  padding: 15px;

  h4 {
    clear: both;
  }
}

.artist-search-result {
  background-color: white;
  margin-bottom: 2em;
  margin-right: 3em;
  padding: 2em;
  height: 200px;

  li {
    list-style-type: none;
  }
}

.artist-also-featuring {
  clear: left;
  margin-top: 10px;
  float: left;
}

.popular-artists {

  h4 {
    margin: 5px 0 5px 0;
  }

  .artist-event-date {
    padding-top: 0;
    font-size: 16px;
  }

  .artist-date {
    clear: left;
    display: inline-block;
    float: left;
  }
}

.under-space {
  height: 76px;
}

form.search-input-page-wrapper {
  width: calc(100% - 90px);
  overflow: hidden;
  clear: both;
  margin: 0 auto;

  div.search-input.form-group.search-input-em-wrap {
    width: 100%;
    float: left;
    margin: 0 auto;
    margin-bottom: 0;
  }

  input.form-control.ember-text-field {
    width: 100%;
    height: 55px;
  }

  .search-button-wrapper {
    width: 105px;
    float: right;
    overflow: hidden;
    margin-top: -52px;
    margin-right: 3px;

    button {
      float: right;
    }
  }


  .search-button-page {
    // margin-left: -54px;
    // margin-top: 3px;
    font-size: 25px;
    // float: right;
  }

  .search-button-reset {
    // margin-left: -110px;
    // margin-top: 3px;
    font-size: 25px;
    background-color: inherit;
    // float: right;
  }
}
// .main-search {
//
//
// }

.upcoming-events {

  .purchase-tickets-wrapper {
    float: right;
    margin-top: 0;
  }
}

.pagination-wrapper {
  clear: both;
  height: 100%;
  width: 100%;
  max-width: 1080px;
  float: left;
  margin-bottom: 20px;
  text-align: center;
}

.pagination {
  display: inline-block;
  // width: 100%;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
  overflow: overlay;
}


.carousel-background-wrapper {
  height: 100%;
  width: 100%;

  img {
    display: block;
    -webkit-transform: translate(-50%,-18%);
    -ms-transform: translate(-50%,-18%);
    transform: translate(-50%,-33%);
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
    min-width: 106%;
    height: auto;
    z-index: 0;
    left: 50%;
    top: 50%;
    position: absolute;
  }

  .artist-background:empty {
    img {
      -webkit-filter: blur(0);
      -moz-filter: blur(0);
      -o-filter: blur(0);
      -ms-filter: blur(0);
      filter: blur(0);
      visibility: hidden;
    }
  }
}

.carousel-background-wrapper::after {
  -webkit-box-shadow: 5px 3px 32px 6px rgba(0,0,0,1) inset;
  -moz-box-shadow: 5px 3px 32px 6px rgba(0,0,0,1) inset;
  box-shadow: 0px 0px 15px 5px rgba(0,0,0,1) inset;
  background: rgba(0, 0, 0, .1);
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.carousel-background-wrapper.event {
  img {
    min-width: 120%;
    display: block;
    -webkit-transform: translate(-50%,-23%);
    -ms-transform: translate(-50%,-23%);
    transform: translate(-50%,-50%);
  }
}

.festival-artist-list {
  width: calc(100% - 83px);
}

/*******************MEDIA QUERIES*************************/

@media (min-width: 768px) {
  select.dropdown-list {
    height: 34px;
    margin-top: 8px;
    padding: 15px 0 15px 0;
  }
}

@media(max-width: 1200px) {

  .navbar-header.title.navbar-left {
    margin-left: 2%;
  }

  .nav.navbar-nav.navbar-right.account {
    margin-right: 1%;
  }

  .nav.navbar-nav.navbar-right.search {
    // margin-right: 5%;
  }

  .navbar-header.navbar-left.pull-left.location {
    margin-left: 0;
  }

  li.change {
    margin-left: 25px;
  }

  .landing-info-section.event-info {
    height: 500px;
  }

  .upcoming-region-events {
    height: 450px;
    width: 422px;
    margin-top: -475px;

    p {
      margin: 0;
    }

    .upcoming-region-events-list-wrapper {
      margin-top: 0;
      padding-top: 0;
    }

    h4 {
      font-size: 16px;
      margin-top: 5px;
    }
  }

  .landing-info-wrapper.index, .landing-page-search-menu {
    max-width: 1000px;
  }

.events-carousel {
  display: inline-block;
  margin-top: -500px;
  width: 422px;
  top: 25px;
  height: 398px;

  .carousel {
    width: 100%;
  }

  #carousel-inner-generic.carousel {
    height: 100%;
  }

  img.headliner {
    display: block;
    height: 422px;
    width: 422px;
  }

  .carousel-caption {
    top: 284px;
  }

  .carousel-indicators {
    bottom: -60px;
  }
}

  .events-carousel > .artist-thumb-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}

@media (max-width: 992px) {
/*NAVBAR STYLING*/
  .navbar-brand.show-hock {
    line-height: 38px;
    font-size: 20px;
    padding-right: 0;
  }

  .nav.navbar-nav.navbar-right {
    margin-right: 1%;
  }

  .navbar-header.title.navbar-left {
    margin-left: 1%;
  }

  .change-location-wrapper > a {
    font-size: 12px;
  }

  .nav.navbar-nav.navbar-right.account {
    margin-right: 0;
  }

  .navbar-text.region {
    margin-left: 5px;
    margin-right: 5px;

    a {
      font-size: 16px;
    }
  }

  ul.nav.navbar-nav {
    li.change.navbar-text {
    margin-right: 0;
    margin-left: 40px;
    }

    li.navbar-text {
      margin-left: 8px;
      margin-right: 0;
    }

    li.search-select.item {
      margin-right: 0px;
    }
  }
  /*END NAVBAR STYLING*/


/*BACKGROUND IMAGE*/

  .search-input.form-group {
    .form-control {
      width: 210px;
    }
  }

  .upcoming-region-events {
    width: 600px;
    left: 0;
    right: 0;
    display: inline-block;
    position: absolute;
    float: none;
    margin: 0 auto;
    margin-top: 15px;
    height: 420px;

    h4 {
      font-size: 16px;
    }
  }

  .landing-info-section.event-info {
    h3 {
      font-size: 18px;
    }
  }

  .artist-thumb-wrapper {
    width: 100%;
  }

  .events-carousel {
    width: 600px;
    float: none;
    right: 0;
    left: 0;
    top: 475px;
    margin: 0 auto;
    position: absolute;
    height: 371px;

    img.headliner {
      height: auto;
      width: 100%;
      display: block;
      // -webkit-transform: translate(-10%,-2%);
      // -ms-transform: translate(-10%,-2%);
      // transform: translate(-10%,-2%);
    }

    .carousel-caption {
      top: 267px;
      padding-bottom: 104px;
    }
  }

  .landing-info-section.event-info {
    height: 925px;
  }
}

@media (max-width: 767px) {
/*NAVBAR STYLING*/
  .navbar-text.region.pull-left {
    font-size: 18px;
  }

  .navbar-brand.show-hock {
    font-size: 28px;
    line-height: 40px;
    height: 70px;
  }

  .change-location-wrapper > a {
    font-size: 18px;
  }

  .navbar-nav.nav.account.navbar-right {
    margin-left: 0px;
    height: auto;

    li {
      text-align: left;
      width: auto;

      a {
        font-size: 18px;
      }
    }
  }

  ul.nav.navbar-nav.search {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;

    li.change.navbar-text {
      margin-left: 30px;
    }

    .form-group {
      width: calc(100% - 80px);
      margin-left: 15px;
      // width: 100%;

    }

    .form-control {
      // width: calc(100% - 30px);
      width: 100%;
      // margin: 0 auto;
      height: 50px;
    }

    .search-button.in-form {
      width: 50px;
      height: 50px;
      float: right;
      margin-top: 0;
      margin-right: 15px;
      background-color: blue;
    }
  }



  .navbar-header.location {
    margin-top: 2px;
    margin-left: 15px;
  }

  ul.nav > li {
    margin: 15px;
  }

  ul.nav.geo {
    margin-top: 10px;
    margin-left: 5px;
  }

  .navbar-nav.navbar-collapse {
       margin-left: 0;
       margin-right: 0;
       padding-left: 0;
       padding-right: 0;
   }

   .navbar-header.navbar-left.pull-left.title {
     margin-left: 0;
   }

   .navbar-header.navbar-left.pull-left.location {
     margin-left: 15px;
   }

  .search-input-em-wrap {
    width: 80%;
    display: inline-block;
  }

  .visible-xs {
    display: inline-block !important;
  }
/*END NAVBAR STYLING*/

  .landing-page-search-menu > div {
    width: 100%;
  }

  .pagination {
    display: inline-block;
    width: 100%;
  }

  .pagination > li > a {
    width: 6.666666667%;
    margin-left: 0;
    padding: 1.25% 0 1.25% 0;
    text-align: center;
  }

  .search-page-results {
    width: 100%;
  }

  .upcoming-region-events {
    width: 90vw;
    height: 371px;
  }

  .events-carousel {
    width: 90%;
    top: 450px;
  }

    .landing-info-section.event-info {
      height: 900px;
    }

    .carousel-background-wrapper.event {
      img {
        min-width: 185%;
    }
  }

  .purchase-tickets-wrapper {
    clear: both;
    width: 100%;

    .search-button {
      width: 100%;
    }
  }

  .region-info-wrapper {

    .region-info.search {
      width: 100%;
    }
  }

  .search-options-menu-wrapper {
    width: 100%;
    float: none;
    overflow: hidden;

    ul {

      li {
        float: left;
        padding: 5px 0 5px 0;
        width: 33.333333333%;
        border: 1px solid black;

        h4 {
          margin-bottom: 0;
        }
      }
    }
  }
}

@media (max-width: 480px) {

/*NAVBAR STYLING*/
  .navbar-brand.show-hock {
    height: 40px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 0;
  }

  .navbar-header {
    button.navbar-toggle {
      margin-right: 30px;
      margin-top: 15px;
    }
  }

  .navbar-text.region.pull-left {
    font-size: 16px;
  }

  .navbar-header.location.navbar-left.pull-left {
    margin-left: 0;
    clear: left;

    ul.nav.geo {
      margin-top: 0;
      margin-left: 15px;

      li.navbar-text {
        margin-bottom: 5px;
        margin-left: 0;
        margin-top: 5px;
      }
    }
  }
/*END NAVBAR STYLING*/

  .pagination {
    display: inline-block;
    width: 100%;
  }

  .pagination > li > a {
    width: 8.333333333%;
    margin-left: 0;
    padding: 1.25% 0 1.25% 0;
    text-align: center;
  }

  .landing-info-wrapper.index {
    padding: 0;
  }

  .landing-info-section.event-info {
    height: auto;
    overflow: visible;

    h3 {
      font-size: 16px;
    }
  }

  .upcoming-region-events-list-wrapper {
    list-style: none;
    margin-bottom: 0;

    h4 {
      font-size: 14px;
    }
    li {
      height: 45px;
    }
  }

  .upcoming-region-events-header {
    padding: 10px;
  }

  .upcoming-region-events {
    margin-top: 28px;
    height: 400px;
  }

  .upcoming-venue-events {
    overflow: hidden;

    .upcoming-venue-events-item {
      // width: 25%;
      width: 96px;
      margin: 0;

      h5 {
        margin: 5px 0 5px 0;
      }

      .img-event-wrapper {
        left: 0.5%;
      }
    }
  }




  .event-carousel-outer {
    height: 450px;
  }

  .events-carousel {
    width: 100%;
    padding: 25px;
    height: 400px;
    position: relative;
    top: 0;
    background-color: $dark;

    .events-carousel > .artist-thumb-wrapper {
      height: 300px;
    }

    .carousel-inner {
      height: 300px;
    }

    .carousel-indicators {
      bottom: -10px;
    }

    .carousel-caption {
      top: 196px;

      p.caption {
        font-size: 16px;
      }
    }
  }

  .carousel-background-wrapper.event {
    img {
      min-width: 140%;
    }
  }

  .artist-concert {

    .artist-date > li {
      font-size: 18px;
    }
  }
  .artist-concert.concert {

    h3 {
      font-size: 20px;
    }
  }
}
