@import 'bootstrap';
@import 'region';
@import 'artist';
@import 'search';
@import 'tickets';

.body {
  // width: 100%;
  // margin: 0 auto;
}
.icon-radio-unchecked::before {
  content: "\ea56";
}

.container {
  padding: 0;
  margin: 0;
  width: 100%;
}

.navbar-form {
  padding-right: 5px;
}

.navbar-form .form-group input {
  width: 100%;
  display: inline-block;
  vertical-align: top;
}

.search-input-em-wrap {
  width: 100%;
  display: inline-block;
}

.navbar {
  // background-color: #07080A;
  // background-color: #2336B2;
  // background-color: #2A4769;
  // border-top: 5px solid #f80046;
  border-bottom: 5px solid #f80046;
  // border-bottom: 1px solid #2A4769;
}

.container-fluid .navbar-header {
  // background-color: #07080A;
  // margin: 0;
}

.artist-search-result {
  background-color: white;
  margin-bottom: 2em;
  margin-right: 3em;
  padding: 2em;
  height: 200px;

  li {
    list-style-type: none;
  }
}

.under-space {
  height: 51px;
}

.pagination-wrapper {
  clear: both;
  height: 100%;
  width: 100%;
  max-width: 705px;
  min-width: 605px;
  float: left;
  margin-bottom: 20px;
  text-align: center;
}

// .pagination-ul-wrapper {
//   display: inline-block;
// }

.pagination {
  display: inline-block;
  // display: block;
  // margin: 0 auto;
  // list-style: none;
  // overflow: hidden;
  // display: inline;
  // text-align: center;
  // position: fixed;
  // width: 90%;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
  overflow: overlay;
}

.button-to-concert-wrapper {
  float: right;
}

.ember-cli-g-map {
    height: 300px;
    width: 300px;
}

@media (max-width: 767px) {
  .navbar-form .form-group input {
    width: 100%;
    display: inline-block;
    vertical-align: top;
  }

  .navbar-nav.navbar-collapse {
       margin-left: 0;
       margin-right: 0;
       padding-left: 0;
       padding-right: 0;
   }

  .search-input-em-wrap {
    width: 80%;
    display: inline-block;
  }

  .visible-xs {
    display: inline-block !important;
  }
}

@media (min-width: 768px) {
  select.dropdown-list {
    height: 34px;
    margin-top: 8px;
    padding: 15px 0 15px 0;
  }
}
