@import 'bootstrap';
@import 'region.scss';

.icon-radio-unchecked::before {
  content: "\ea56";
}

.navbar-default {
  margin-bottom: 0;
}

.artist-search-result {
  background-color: white;
  margin-bottom: 2em;
  margin-right: 3em;
  padding: 2em;
  height: 200px;

  li {
    list-style-type: none;
  }
}

.under-space {
  height: 51px;
}

// .pagination-wrapper {
//   position: fixed;
//   width: 100%;
// }

.pagination {
  // position: fixed;
  width: 100%;
}
