//main artist view

/*ARTIST SEARCH SECTION*/

.popular-artists-wrapper {

  .artist-search-wrapper {
    overflow: hidden;
  }

  li.popular-artists-item {
    width: 20%;
    float: left;
  }
}

.artist-search-wrapper {
  overflow: hidden;
}

.artist-search-main-wrapper {
  padding: 45px;
  position: relative;
  width: 100%;
}

.artist-search-main {
  position: relative;
  margin: 0 auto;
  max-width: 1080px;
  overflow-y: hidden;
  min-height: 700px;

  ul {
    padding: 0;
  }
}

.artist-search-main-listing {
  width: 80%;
  float: right;
}

.artist-search-header-wrapper {
  overflow: hidden;
  // padding: 15px;
  position: relative;
  width: 100%;
  margin: 0;
}

.artist-search-header {
  margin: 0 auto;
  max-width: 1080px;
  overflow: hidden;
}

.artist-search-header-info {
  background-color: #191919;
  margin: 0 auto;
  padding: 5px 0 5px 10px;
  position: relative;

  h1 {
    color: #fff;
    margin-bottom: 15px;
    margin-top: 0;
  }

  h4 {
    color: #fff;
  }
}

.region-results-wrapper {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px dashed #2336b2;
  overflow: hidden;

  .band-thumb-wrapper {
    float: left;
  }
}

//ARTIST INTRO INFO SECTION (NAME, PICTURE, ON TOUR UNTIL)
// .artist-info-section {
//   overflow: hidden;
//   padding: 15px;
//   position: relative;
//   width: 100%;
//   margin: 0;
// }

// .carousel-background-wrapper {
//   height: 100%;
//   width: 100%;
//
//   img {
//     display: block;
//     -webkit-transform: translate(-50%,-18%);
//     -ms-transform: translate(-50%,-18%);
//     transform: translate(-50%,-33%);
//     -webkit-filter: blur(10px);
//     -moz-filter: blur(10px);
//     -o-filter: blur(10px);
//     -ms-filter: blur(10px);
//     filter: blur(10px);
//     min-width: 106%;
//     height: auto;
//     z-index: 0;
//     left: 50%;
//     top: 50%;
//     position: absolute;
//   }
//
//   img:empty {
//     background-color: #2336b2;
//   }
//
//   .artist-background:empty {
//     img {
//       -webkit-filter: blur(0);
//       -moz-filter: blur(0);
//       -o-filter: blur(0);
//       -ms-filter: blur(0);
//       filter: blur(0);
//       visibility: hidden;
//     }
//   }
// }

// .carousel-background-wrapper::after {
//   -webkit-box-shadow: 5px 3px 32px 6px rgba(0,0,0,1) inset;
//   -moz-box-shadow: 5px 3px 32px 6px rgba(0,0,0,1) inset;
//   box-shadow: 0px 0px 15px 5px rgba(0,0,0,1) inset;
//   background: rgba(0, 0, 0, .1);
//   content: '';
//   display: block;
//   height: 100%;
//   left: 0;
//   position: absolute;
//   top: 0;
//   width: 100%;
//   z-index: 0;
// }

.artist-info-wrapper {
  margin: 0 auto;
  max-width: 1080px;
  overflow: hidden;
}

.artist-info {
  background-color: #191919;
  margin: 0 auto;
  padding: 5px 0 5px 10px;
  position: relative;

  h1 {
    color: #fff;
    margin-bottom: 15px;
    margin-top: 0;
  }

  h4 {
    color: #fff;
  }
}

.artist-thumb-wrapper {
  // border: 1px solid #000;
  float: right;
  padding: 0;
  position: relative;
  z-index: 1;

  .headliner {
    background-color: #fff;
    display: block;
    height: 320px;
    width: 320px;
  }

  .headliner:empty {
    background-image: url('../assets/images/microphone-with-wire.png');
    background-position: center;
    background-repeat: no-repeat;
  }
}


// ARTIST EVENT SECTION

// .artist-event-section {
//   padding: 15px;
//   position: relative;
//   width: 100%;
//
// }

// .artist-event-wrapper {
//   position: relative;
//   margin: 0;
//   max-width: 1080px;
//   overflow-y: hidden;
//   min-height: 700px;
//
//   ul {
//     padding: 0;
//   }
// }

// shows coming up in the user's artistMeta
.upcoming-events-wrapper {
  width: 100%;
  max-width: 1080px;
  position: relative;
  float: left;
  margin-right: 375px;
  padding-right: 335px;
  margin-bottom: 20px;
}

.upcoming-events-item-div {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px dashed #2336b2;
}

.upcoming-events-title-wrapper {
  overflow: hidden;
}

.upcoming-events-title {
  float: left;
}

.upcoming-events-location {
  float: right;

  h4 {
    margin-top: 27px;
    margin-bottom: 10px;
  }
}

.upcoming-events-date {
  font-size: 16px;
}

.date-range-picker {
  width: 100%;
  position: relative;
  float: left;

  input, button {
    font-size: 18px;
  }
  input {
    width: 150px;
  }
}

.min-date-cal {
  position: absolute;
  top: 42px;
  left: 162px;
  font-size: 24px;
}

.max-date-cal {
  position: absolute;
  top: 42px;
  left: 335px;
  font-size: 24px;
}

// .artist-detail {
//   margin-bottom: 15px;
//   padding-bottom: 15px;
//   border-bottom: 1px dashed #2336b2;
// }

.artist-event-date {
  font-size: 18px;
  margin: 0;
  padding-top: 10px;
  list-style-type: none;
}

.artist-event {
  margin-right: 50px;
  // margin-bottom: 25px;
  padding-top: 10px;

  h4 {
    font-size: 16px;
  }
}

.artist-detail-list {
  list-style-type: none;
}

.artist-event-listing {
  width: 100%;
  max-width: 745px;
  min-width: 605px;
  padding: 5px 0 5px 10px;
  position: relative;
  float: left;
  margin-right: 375px;
  margin-right: 335px;

  // clear: left;
}

.on-tour-caption-text {
  box-sizing: border-box;
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 500;
  left: 0;
  padding-top: 8px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;

  .tour-tag {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
  }
}

.results-sidebar-wrapper {
  border-left: 1px dashed #2336b2;
  display: block;
  float: right;
  padding: 10px;
  right: 0;
  position: absolute;
  width: 322px;
  z-index: 99;
}

.similar-artists-thumb-wrapper {
  float: left;
  margin: 5px;
  padding: 0;
  position: relative;
  height: 48px;
  width: 48px;
  // clear: right;

  .headliner {
    border-radius: 50%;
    object-fit: cover;
    display: block;
    height: auto;
    width: 100%;
  }

  .headliner:empty {
    background-image: url('../assets/images/microphone-with-wire.png');
    background-position: 0 5px;
    background-size: 48px;
    background-repeat: no-repeat;
    // -moz-transform:scale(0.5);
    // -webkit-transform:scale(0.5);
    // transform:scale(0.5);
  }
}

.similar-artists-thumb-wrapper::after {
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, .05) 10%,
  rgba(0, 0, 0, .1) 60%, rgba(0, 0, 0, .3) 100%) repeat 0 0;
  border-radius: 50%;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.similar-artists-list {
    list-style-type: none;
    float: none;
    clear: both;
}

.similar-artists-text {
  list-style-type: none;

  li:first-child {
    padding-top: 10px;
  }
}

.concert-location-map {
    height: 250px;
    width: 250px;
}

/*CONCERT ROUTE*/

.concert-venue-details {
  margin: 15px 0 15px 0;
}

.concert-venue-info {
  width: 50%;
  float: left;

  h3 {
    margin-top: 0;
  }
}

.artist-concert {
  overflow: hidden;

  .artist-date {
    li {
      font-size: 21px;
    }
  }
}

.concert-featuring-artist {
  float: left;
}

.concert-image-wrapper {
  float: right;

  img {
    width: 150px;
  }
}

.concert {

  .artist-grid-wrapper {
  padding-left: 0;

    li {
      padding: 0;
    }
  }
}



/*MEDIA QUERIES*/
@media (max-width: 1130px) {

  // .artist-info-wrapper {
  //   margin-left: 15px;
  //   margin-right: 15px;
  // }
}

@media (max-width: 1200px) {
  // .carousel-background-wrapper {
  //   height: 100%;
  //   overflow: hidden;
  //   width: 100%;
  //
  // .artist-background {
  //   -webkit-transform: translate(-50%,-20%);
  //   -ms-transform: translate(-50%,-20%);
  //   transform: translate(-50%,-35%);
  //   }
  // }
}

@media (max-width: 1110px) {
  .upcoming-events-wrapper {
    padding-right: 265px;
  }
}

@media (max-width: 992px) {
  // .carousel-background-wrapper {
  //   height: 100%;
  //   overflow: hidden;
  //   width: 100%;
  //
  // .artist-background {
  //   -webkit-transform: translate(-50%,-25%);
  //   -ms-transform: translate(-50%,-25%);
  //   transform: translate(-50%,-40%);
  //   }
  // }

  // .artist-info-section {
  //   img.headliner {
  //       height: 250px;
  //       width: 250px;
  //   }
  // }

  .upcoming-events-wrapper {
    padding-right: 252px;
  }
}

// @media (max-width: 985px) {
//   .artist-event-wrapper {
//     width: 925px;
//   }
// }

@media (max-width: 768px) {

  // .artist-event-section {
  //   width: 100%;
  // }

  // .carousel-background-wrapper {
  //   height: 100%;
  //   overflow: hidden;
  //   width: 100%;
  // }

  .upcoming-events-wrapper {
    width: 100%;
    padding-right: 0;
    min-width: 0;
  }

  .artist-thumb-wrapper {
    .headliner {
      height: 160px;
      width: 160px;
    }
  }

  // .artist-event-wrapper {
  //     width: 100%;
  // }

  .artist-event-listing {
    width: 100%;
    min-width: 0;
  }

  // .results-sidebar-wrapper {
  //   width: 100vw;
  //   padding-right: 50px;
  //   border: none;
  //   position: relative;
  //   float: left;
  // }

  .similar-artists {
    width: 100%;

    .similar-artists-list {
      box-sizing: border-box;
      // clear: none;
      // display: block;
      float: left;
      padding: 0 12px 8px;
      width: 100%;
    }
  }

  .artist-background {
    -webkit-transform: translate(-50%,-35%);
    -ms-transform: translate(-50%,-35%);
    transform: translate(-50%,-45%);
    }
}

@media (max-width: 550px) {
  .date-range-picker {
    width: 100%;
    position: relative;
    float: left;

    h4 {
      margin: 0;
    }

    input, button {
      font-size: 18px;
    }
    input {
      width: 100%;
      // float: right;
      clear: both;
      border-radius: 3px;
    }
  }

  .min-date-cal {
    position: absolute;
    top: 46px;
    left: auto;
    right: 3px;
    font-size: 24px;
  }

  .max-date-cal {
    position: absolute;
    top: 101px;
    left: auto;
    right: 3px;
    font-size: 24px;
  }
}
