//main region view

//basic div layout
.region-detail-list {
  list-style-type: none;
}

.region-results-wrapper {
  div.button-to-concert-wrapper {
    clear: left;
  }
}

.date {
  font-size: 20px;
  margin: 0;
  padding-top: 20px;
}

.event {
  margin-right: 152px;
  margin-bottom: 25px;
  padding-top: 10px;

  h4 {
    font-size: 16px;
  }
}

.artist-grid-wrapper.list-every-artist {
  padding: 0;
  overflow: auto;
  width: 80%;

  li {
    padding: 0;
    width: 33.3333333%;
  }
}

.region-search-detail {
  .band-thumb-wrapper {
    float: left;
  }
}

.artist-grid {
  li {
    box-sizing: border-box;
    display: block;
    float: left;
    padding: 0 12px 8px;
    width: 33.3333333%;
  }
}

ul.region-event-ul {
  width: 369px;
  float: left;

  .event {
    margin: 0;
  }

  .artist-event {
    margin: 0;
  }
}

.region-band-thumbs {
  overflow: hidden;
  float: right;
  max-width: 366px;
}

.artist-list {
  display: inline;
}


.band-thumb-wrapper {
  float: left;
  margin: 5px;
  padding: 0;
  position: relative;

  .headliner {
    border-radius: 50%;
    display: block;
    height: 112px;
    width: 112px;
  }

  .headliner:empty {
    background-image: url('../assets/images/microphone-with-wire.png');
    background-position: 0 9px;
    background-repeat: no-repeat;
  }
}

.band-thumb-wrapper::after {
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, .05) 10%,
  rgba(0, 0, 0, .3) 60%, rgba(0, 0, 0, .6) 100%) repeat 0 0;
  border-radius: 50%;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.image-caption-text {
  bottom: 0;
  // -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  display: block;
  font-weight: 700;
  left: 0;
  padding: 1em;
  padding-bottom: 1.5em;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 2;
}

.region-search-list-item {
  overflow: hidden;
}

.region-search-detail {
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px dashed #2336b2;
  overflow: hidden;

  .type-label {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 7px;
    // box-shadow: 1px 1px 1px rgba(0,0,0,.5);
    h5 {
      margin: 0;
    }
  }
}

.region-search-map-wrapper {
  border: 1px solid #000;
  border-radius: 50%;
  float: right;
  padding: 0;
  position: relative;
  z-index: 1;

  img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
  }
}

.menu {
  float: left;
}

.region-search-header-wrapper {
  // -webkit-box-shadow: 5px 3px 32px 6px rgba(0,0,0,1) inset;
  // -moz-box-shadow: 5px 3px 32px 6px rgba(0,0,0,1) inset;
  // box-shadow: -10px 10px 15px 5px rgba(0,0,0,1) inset;
  overflow: hidden;
  padding: 0 15px 0 15px;
  position: relative;
  // width: calc(100% - 100px);
  margin: 0 0 10px 0;
  // float: right;

  .search-menu {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;

    div {
      width: 25%;
      border: 1px solid black;
      background-color: grey;
      float: left;
    }
  }
}

.region-search-header-wrapper.main-search {
  margin-top: 15px;

  .search-input-page-wrapper > h5 {
    clear: both;
    margin-top: 0;
  }
}

// .carousel-background-wrapper {
//   height: 100%;
//   width: 100%;
//
//   img {
//     display: block;
//     -webkit-transform: translate(-50%,-18%);
//     -ms-transform: translate(-50%,-18%);
//     transform: translate(-50%,-33%);
//     -webkit-filter: blur(10px);
//     -moz-filter: blur(10px);
//     -o-filter: blur(10px);
//     -ms-filter: blur(10px);
//     filter: blur(10px);
//     min-width: 106%;
//     height: auto;
//     z-index: 0;
//     left: 50%;
//     top: 50%;
//     position: absolute;
//   }
//
//   img:empty {
//     background-color: #2336b2;
//   }
//
//   .artist-background:empty {
//     img {
//       -webkit-filter: blur(0);
//       -moz-filter: blur(0);
//       -o-filter: blur(0);
//       -ms-filter: blur(0);
//       filter: blur(0);
//       visibility: hidden;
//     }
//   }
// }

// .carousel-background-wrapper::after {
//   -webkit-box-shadow: 5px 3px 32px 6px rgba(0,0,0,1) inset;
//   -moz-box-shadow: 5px 3px 32px 6px rgba(0,0,0,1) inset;
//   box-shadow: 0px 0px 15px 5px rgba(0,0,0,1) inset;
//   background: rgba(0, 0, 0, .1);
//   content: '';
//   display: block;
//   height: 100%;
//   left: 0;
//   position: absolute;
//   top: 0;
//   width: 100%;
//   z-index: 0;
// }

.region-search-header {
  margin: 0 auto;
  // max-width: 1080px;
  max-width: 758px;
  overflow: hidden;
  padding: 0 15px 0 15px;
}

.region-search-header-info {
  background-color: #191919;
  margin: 0 auto;
  padding: 5px 0 5px 10px;
  position: relative;
  width: 80%;
  float: right;

  h1 {
    color: #fff;
    margin-bottom: 15px;
    margin-top: 0;
  }

  h4 {
    color: #fff;
  }

  .search-input-page-wrapper {
    margin: 0 auto;
  }
}

.artist-thumb-wrapper {
  // border: 1px solid #000;
  float: right;
  padding: 0;
  position: relative;
  z-index: 1;

  .headliner {
    background-color: #fff;
    display: block;
    height: 320px;
    width: 320px;
  }

  .headliner:empty {
    background-image: url('../assets/images/microphone-with-wire.png');
    background-position: center;
    background-repeat: no-repeat;
  }
}


// REGION EVENT SECTION
.region-search-main-wrapper {
  padding: 0 15px 15px 15px;
  position: relative;
  width: 100%;
}

.region-search-main-wrapper.ea-route {
  padding: 0 15px 15px 15px;
  position: relative;
  width: 100%;
}

.region-search-main {
  position: relative;
  margin: 0 auto;
  // max-width: 1080px;
  max-width: 758px;
  overflow-y: hidden;
  // min-height: 700px;

  ul {
    padding: 0;
  }
}

.region-search-main.ea-route  {
  margin-top: -150px;
}


.region-search-main-listing {
  width: 80%;
  float: right;
}

.region-info-section {
  overflow: hidden;
  padding: 15px;
  position: relative;
  width: 100%;
  margin: 0;
}

.region-background-wrapper {
  height: 100%;
  width: 100%;

  img {
    display: block;
    -webkit-transform: translate(-50%,-18%);
    -ms-transform: translate(-50%,-18%);
    transform: translate(-50%,-33%);
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
    min-width: 106%;
    height: auto;
    z-index: 0;
    left: 50%;
    top: 50%;
    position: absolute;
  }

  img:empty {
    background-color: #2336b2;
  }

  .region-background:empty {
    img {
      -webkit-filter: blur(0);
      -moz-filter: blur(0);
      -o-filter: blur(0);
      -ms-filter: blur(0);
      filter: blur(0);
      visibility: hidden;
    }
  }
}

.region-background-wrapper::after {
  -webkit-box-shadow: 5px 3px 32px 6px rgba(0,0,0,1) inset;
  -moz-box-shadow: 5px 3px 32px 6px rgba(0,0,0,1) inset;
  box-shadow: 0px 0px 15px 5px rgba(0,0,0,1) inset;
  background: rgba(0, 0, 0, .1);
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.region-info-wrapper {
  margin: 0 auto;
  max-width: 1080px;
  overflow: hidden;
}

.region-thumb-wrapper {
  border: 1px solid #000;
  float: right;
  padding: 0;
  margin-right: 70px;
  position: relative;
  z-index: 1;

  .headliner {
    background-color: #fff;
    display: block;
    height: 250px;
    width: 250px;
  }

  .headliner:empty {
    background-image: url('../assets/images/microphone-with-wire.png');
    background-position: center;
    background-repeat: no-repeat;
  }
}

.region-info {
  background-color: #191919;
  margin: 0 auto;
  padding: 5px 0 5px 10px;
  position: relative;
  margin-right: 320px;

  h1 {
    color: #fff;
    margin-bottom: 15px;
    margin-top: 0;
  }

  h4 {
    color: #fff;
  }
}

.region-event-section {
  padding: 15px;
  position: relative;
  width: 100%;
}

.region-event-wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 1080px;
  overflow-y: hidden;
  min-height: 700px;

  ul {
    padding: 0;
  }
}

.region-event-listing {
  width: 100%;
  max-width: 1080px;
  // min-width: 605px;
  // padding: 5px 0 5px 10px;
  position: relative;
  float: left;
  margin-right: 375px;
  // margin-right: 335px;
  padding-right: 335px;
}


///////////////*NEARBY REGIONS COMPONENT*////////////////////////
.results-sidebar-wrapper.nearby-regions {
  padding-top: 15px;
  .title {
    margin-top: 0;
  }
}

ul.nearby-regions-list {

  li {
    margin: 5px 0 5px 0;
  }
  .title {
    margin-top: 0;
  }

  .nearby-regions-item {
    list-style: none;

    h4, h5 {
      display: inline-block;
      margin: 0;
      font-size: 18px;
    }
  }
}

@media(max-width: 1110px) {

  .region-thumb-wrapper {
    margin: 0;
    .headliner {
      height: 250px;
      width: 250px;
    }
  }

  .region-info {
    margin-right: 250px;
  }

  .region-band-thumbs {
    max-width: 348px;

    .headliner {
      height: 102px;
      width: 102px;
    }
  }

  ul.region-event-ul {
    width: 345px;
  }


  div.results-sidebar-wrapper {
    width: 252px;
  }

  .region-event-listing, nav.pagination-wrapper {
    padding-right: 265px;
  }
}

@media(max-width: 992px) {

  ul.region-event-ul {
    width: 290px;
  }

  .region-info {
    margin-right: 170px;
  }

  .region-thumb-wrapper {
    .headliner.region, .headliner.venue {
      height: 170px;
      width: 170px;
    }

    .headliner.artist {
      height: 230px;
      width: 230px;
    }
  }

  div.results-sidebar-wrapper {
    width: 172px;
  }

  div.results-sidebar-wrapper.artist {
    width: 232px;
  }
  .region-event-listing, nav.pagination-wrapper {
    padding-right: 182px;
  }

  .region-band-thumbs {
    max-width: 267px;

    .band-thumb-wrapper {
      margin: 2.5px;
    }

    .headliner {
      height: 84px;
      width: 84px;
    }
  }

  ul.nearby-regions-list {

    .nearby-regions-item {
      list-style: none;

      h4, h5 {
        font-size: 14px;
      }
    }
  }
}

@media(max-width: 768px) {

  div.results-sidebar-wrapper {
    width: 100%;
    position: relative;
  }

  div.results-sidebar-wrapper.artist {
    width: 100%;
    position: relative;
  }

  ul.region-event-ul {
    width: 300px;

    h4, h5 {
      font-size: 15px;
    }
  }

  .region-event-listing, nav.pagination-wrapper {
    padding-right: 0;
  }

  .region-thumb-wrapper {

    .headliner.artist {
      height: 170px;
      width: 170px;
    }
  }

  .region-info {
    h1 {
      font-size: 28px;
    }

    h4 {
      font-size: 16px;

      a {
        font-size: 14px;
      }
    }
  }

  .region-band-thumbs {
    max-width: 768px;
    width: 100%;
    float: left;
    clear: left;

    .headliner {
      height: 86px;
      width: 86px;
    }

    .image-caption-text {
      // display: none;
    }
  }

  .region-results-wrapper {
    div.button-to-concert-wrapper {
      width: 100%;
    }

    .btn-success {
      width: 100%;
    }
  }
}

@media(max-width: 480px) {

  .region-info-wrapper {
    min-height: 256px;
  }

  .region-info {
    min-height: 172px;
    margin-right: 0;

    h1 {
      font-size: 24px;
    }

    h4 {
      font-size: 15px;

      a {
        font-size: 13px;
      }
    }
  }

  .region-band-thumbs {
    max-width: 480px;
    margin: 0 auto;
    float: left;
    clear: left;

    .headliner {
      height: 86px;
      width: 86px;
    }
  }
}

@media(max-width: 360px) {

  .region-info {

    h1 {
      font-size: 22px;
    }
  }

  .region-thumb-wrapper {

    .headliner.venue,.headliner.artist,.headliner.region {
      height: 140px;
      width: 140px;
    }
  }
}
