.venue-search-thumb-wrapper {
  float: right;
  margin: 5px;
  padding: 0;
  position: relative;

  .headliner {
    border-radius: 50%;
    display: block;
    height: 112px;
    width: 112px;
  }

  .headliner:empty {
    background-image: url('../assets/images/microphone-with-wire.png');
    background-position: 0 9px;
    background-repeat: no-repeat;
  }
}

.venue-search-thumb-wrapper::after {
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, .05) 10%,
  rgba(0, 0, 0, .3) 60%, rgba(0, 0, 0, .6) 100%) repeat 0 0;
  border-radius: 50%;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.related-events-item {
  margin: 10px 0 10px 0;

  list-style: none;
  border-bottom: 1px dashed #2336b2;
  h5 {
    margin: 5px;
  }
  p {
    margin: 5px;
  }
}

.upcoming-venue-events {
  overflow: hidden;
  clear: both;

  ul {
    float: none;
  }

  .upcoming-venue-artist-centering {
    width: 96px;
    height: 96px;
    position: absolute;
    left: 50%;
    bottom: 0;
  }

  .upcoming-venue-events-item {
    width: 20%;
    margin: 0 2.5% 2.5% 0;
    float: left;
    list-style: none;
    text-align: center;
    min-height: 150px;
    position: relative;

    h5 {
      margin: 5px 0 5px 0;
    }

  .img-event-wrapper {
    left: 0;
    right: 0;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    margin-left: -50%;
    bottom: 0;
  }
  }
}
