{{#if media.isMobile}}
  {{search-options-menu-mobile}}
{{/if}}
<div class='region-info-section'>
  <div class='region-info-wrapper search'>

    <div class='region-info search'>

      <h1>Search by Artist</h1>
      {{search-input-page-wrapper search='artistSearch'
                                  formDesc='Search for Artists'}}
    </div>
  </div>
</div>

<div class='region-search-main-wrapper'>
  <div class='region-search-main ea-route'>
  {{#unless media.isMobile}}
    {{search-options-menu}}
  {{/unless}}
    {{outlet}}
  </div>
</div>
