<div class='region-search-header-wrapper main-search'>
  <div class='region-search-header'>
    {{!-- <div class='region-search-header-info'> --}}
      {{!-- <h1>Search cities and regions throughout the world</h1> --}}
      <div class='search-input-page-wrapper'>
        {{search-input keyword=entered}}

          <button type="submit" class="btn btn-success">
            Search
          </button>
          <button type="button" class="btn btn-success" {{action 'back'}}>
            Back
          </button>
          <h5>Artists, Venues, or city/state</h5>
      </div>
    {{!-- </div> --}}
  </div>
</div>

<div class='region-search-main-wrapper'>
  <div class='region-search-main main-search'>
    {{!-- {{search-options-menu}} --}}
    {{outlet}}
  </div>
</div>
