<div class='region-search-header-wrapper main-search'>
  <div class='region-search-header'>

    <div class="searches-back-button" {{action 'back'}}><span class='glyphicon glyphicon-remove'></span>
    </div>

      {{search-input-page-wrapper search='searchAll'
                                  formDesc='Search for Artists, Citie, Regions, Venues'}}

  </div>
</div>

<div class='region-search-main-wrapper'>
  <div class='region-search-main main-search'>
    {{outlet}}
  </div>
</div>
