<div class='artist-concert festival'>
  <div class='concert-image-wrapper'>
    <img src={{model.performance.[0].artist.image_url}}>
  </div>

  <h4>Track all of your favorite concerts, like {{no-parens model.displayName}}</h4>
</div>
