<h1>Region Search</h1>


  {{!-- <div class="input-group">

    {{search-input keyword=entered}}

    {{#link-to 'region.search.results' (query-params search=entered)}}
      <button type="submit" class="btn btn-success">
        Search
      </button>{{/link-to}}

  </div> --}}

<h3>Results</h3>
{{outlet}}
