<div class='region-search-header-wrapper'>
  <div class='region-search-header'>
    <h1>Venue Search</h1>
    <div class='region-search-header-info'>
      <div class='search-input-page-wrapper'>
        {{search-input keyword=entered}}
        {{!-- {{#link-to 'region.search.results' (query-params search=entered)}} --}}
          <button type="submit" class="btn btn-success">
            Search
          </button>
          {{!-- {{/link-to}} --}}
      </div>
    </div>
  </div>
</div>

<div class='region-search-main-wrapper'>
  <div class='region-search-main'>
    {{search-options-menu}}
    {{outlet}}
  </div>
</div>
