<div class='region-search-main-listing'>
  <ul class="event-listings row-fluid block-grid-3">
    {{#each model.location as |region|}}
        {{region-search-detail regionSelect=region}}
    {{/each}}
  </ul>
</div>
