<div class='region-search-main-listing'>
  <ul class="event-listings row-fluid block-grid-3">
    {{#each model.artist as |artist|}}
        {{artist-search-detail artistSelect=artist}}
    {{/each}}
  </ul>
</div>
