<div class='region-event-listing'>

  {{#if model.event.firstObject.noMatch}}
    <h3>No upcoming concerts at <strong>{{accessArtistParams.param}}</strong></h3>

  {{else}}

    <ul class="event-listings row-fluid block-grid-3">
      {{#each model.event as |event|}}
            {{venue-detail event=event
                           userEventArr=userEventArr
                           goToConcert='goToConcert'
                           trackEvent='trackEvent'
                           unTrackEvent='unTrackEvent'}}
      {{/each}}
    </ul>
{{/if}}

{{pagination-bar pages=model.meta
                newPage='changeRegionPage'
                previousPage='previousPage'
                nextPage='nextPage'}}
</div>
