<div class='region-search-main-listing'>
  <ul class="event-listings row-fluid block-grid-3">
    {{#each model.location as |region|}}
        {{user-search-region regionSelect=region
                             saveRegion='saveRegion'}}
    {{/each}}
  </ul>
</div>
