<footer>
  <div class='footer-container'>
    <div class='footer-nav-wrapper'>
      <ul class='footer nav'>
        <li>{{#link-to 'index'}}Home{{/link-to}}</li>
        {{!-- <li>{{#link-to 'index'}}About{{/link-to}}</li> --}}
        <li><a href='https://github.com/alex-braun/show-hock-app' target='_blank'>Github</a></li>
      </ul>
    </div>
    <div class='footer-contact'>
      <h5>Alex Braun 2017</h5>
    </div>
    <div class="songkick-ref">
      <a href='http://songkick.com' target='_blank'>
        {{svg-jar 'powered-by-songkick-pink' class='icon' width='125px' height='auto'}}
      </a>
    </div>
  </div>
</footer>
