<h1>Home Page</h1>

{{!-- <div class='well'>
  <ul class='nav nav-pills'>
    {{#link-to 'artistsearches' tagName="li"}}<a href="">Search by Artist!</a>{{/link-to}}
  </ul>
</div> --}}
{{!-- {{events-carousel}} --}}
{{!-- {{location-map}} --}}

{{outlet}}
