<div class='region-info-section sign-up'>
  <div class='region-info-wrapper user-list'>
    {{outlet}}
    <h3>Sign Up</h3>

    {{sign-up-form submit="signUp"}}
    {{#each flashMessages.queue as |flash|}}
      {{flash-message flash=flash}}
    {{/each}}
  </div>
</div>
